{% extends 'base.html' %}
{% load humanize %}
{% load video_extras %}
{% block title %}{{ list_title }}{% endblock %}

{% block content %}
<div class="container is-fluid">
    <div class="subtitle">{{ list_title }}</div>
    <div class="columns is-multiline">
    {% for entry in entries %}
    {% with video=entry.video %}
            <div class="column is-3">
                <div class="video-list-thumb">
                    <a href="{% url 'video:watch' video.id %}">

                        {% if video.preview_thumb %}
                        <img src="{{ video.preview_thumb.url }}" />
                        {% else %}
                        <img src="https://via.placeholder.com/320x180" />
                        {% endif %}
                    </a>

                    <div class="video-thumb-duration">
                        {% get_duration video.duration %}
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <a href="{% url 'video:watch' video.id %}" class="has-text-white">
                    <h3 class="video-list-title" title="{{ video.title }}">{{ video.title |truncatechars:60 }}</h3>
                </a>
                <a href="{% url 'channel:index' video.user.username %}" class="is-size-7 has-text-link">
                    {{video.user.username }}</a>
                    <div class="is-size-7 has-text-grey">
                        {{ video.views }} views
                    </div>
                    <div class="is-size-7">
                        {{ video.description |truncatechars:100}}
                    </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
</div>

{% endblock %}