{% extends 'skeleton.html' %}

{% block body %}
<div class="columns" style="min-height: calc(100vh - 3.25rem); margin-top: 0;">
    <div class="column is-2 section pl-normal pr-0 has-background-black">
        <aside class="menu">
            <ul class="menu-list">
                <li>
                    <a class="is-active">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span> Home
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon">
                            <i class="fas fa-star"></i>
                        </span> Popular
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'feed:history' %}">
                        <span class="icon">
                            <i class="fas fa-history"></i>
                        </span> History
                    </a>
                </li>
                <li>
                    <a href="{% url 'feed:liked' %}">
                        <span class="icon">
                            <i class="fas fa-thumbs-up"></i>
                        </span> Liked Videos
                    </a>
                </li>
                <li>
                    <a href="{% url 'playlist:watch_later' %}">
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span> Watch later
                    </a>
                </li>
                <li>
                    <a href="{% url 'playlist:favourites' %}">
                        <span class="icon">
                            <i class="fas fa-heart"></i>
                        </span> Favourites
                    </a>
                </li>
                <li>
                    <a href="{% url 'channel:playlists' user.username %}">
                        <span class="icon">
                            <i class="fas fa-folder"></i>
                        </span> Playlists
                    </a>
                </li>
                {% endif %}
            </ul>
            <p class="menu-label">
                Subscriptions
            </p>
            {% if user.is_authenticated %}
            <div class="column is-size-7 has-text-centered">
                No subscriptions yet
            </div>
            {% else %}
            <div class="column is-size-6 has-text-centered">
                <a href="{% url 'account:login' %}">Login</a> to manage subscriptions
            </div>
            {% endif %}

        </aside>
    </div>
    <div class="column is-10 pl-0">
        <section class="section">
            {% block content %}{% endblock %}
        </section>
    </div>
</div>
{% endblock %}