//$primary: #e6744f;
$primary: #b62b2b;
$accent: #dc4a32;
$dark-main: #111;

@import './bulma/bulma.sass';
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');


// Override Bulma styles
body {
    min-height: calc(100vh - 2.5rem);
    background: $dark-main;
    color: $grey-light;
}

hr {
    height: 1px;
    background-color: $grey-dark;
}

.logo {
    padding: 6px 10px;
    margin-right: 0.25rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    background: $black;
    border: 2px solid $accent;
    color: $white;
}

.navbar {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar.is-primary .navbar-start > .navbar-item, .navbar.is-primary .navbar-start .navbar-link, .navbar.is-primary .navbar-end > .navbar-item, .navbar.is-primary .navbar-end .navbar-link {
    color: $black;
}

.navbar.is-primary .navbar-start .navbar-link::after, .navbar.is-primary .navbar-end .navbar-link::after {
    border-color: $black;
}

.label {
    color: $white;
}

.input, .textarea {
    //background: $grey-dark;
}

.level-item, .level-left, .level-right {
    flex-shrink: 1;
}

.menu-list {
    a {
        color: $grey;

        &.is-active {
            background: $primary;
        }
    }
}


.menu-label {
    color: $white;
}

.navbar-dropdown {
    border: 0;
}

.navbar-divider {
    background-color: $accent;
}

.navbar-item, .navbar-link {
    color: $black;
}

.subtitle {
    color: $primary;
}

// End Bulma overriden styles

.vspace {
    width: 100%;
    height: 1rem;
}

.mt {
    &-0 {
        margin-top: 0 !important;
    }

    &-small {
        margin-top: 0.25rem !important;
    }

    &-normal {
        margin-top: 0.5rem !important;
    }

    &-medium {
        margin-top: 1rem !important;
    }
}

.mb {
    &-0 {
        margin-bottom: 0 !important;
    }

    &-small {
        margin-bottom: 0.25rem !important;
    }

    &-normal {
        margin-bottom: 0.5rem !important;
    }

    &-medium {
        margin-bottom: 1rem !important;
    }
}

.ml {
    &-0 {
        margin-left: 0 !important;
    }

    &-small {
        margin-left: 0.25rem !important;
    }

    &-normal {
        margin-left: 0.5rem !important;
    }

    &-medium {
        margin-left: 1rem !important;
    }
}

.pt {
    &-0 {
        padding-top: 0 !important;
    }

    &-small {
        padding-top: 0.25rem !important;
    }

    &-normal {
        padding-top: 0.5rem !important;
    }

    &-medium {
        padding-top: 1rem !important;
    }

    &-large {
        padding-top: 2rem !important;
    }
}

.pl {
    &-0 {
        padding-left: 0 !important;
    }

    &-normal {
        padding-left: 0.5rem !important;
    }
}

.pr {
    &-0 {
        padding-right: 0 !important;
    }

    &-normal {
        padding-right: 0.5rem !important;
    }
}

.p {
    &-large {
        padding: 2rem !important;
    }
}


.menu-label {
    padding: 0 0.75rem;
}

.video-list-title {
    line-height: 1;
    font-size: 0.9rem;
}

.video-list-thumb {
    position: relative;
}

.video-thumb-duration {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    padding: 0.05rem 0.25rem;
    font-size: $size-7;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    border-radius: $radius-small;
}


.video-thumb-tag {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    padding: 0.05rem 0.25rem;
    font-size: $size-7;
    border-radius: $radius-small;
    opacity: 0.8;
    color: $black;
    
    &-unlisted {
        background: $warning;
    }

    &-private {
        background: $primary;
    }
}

.rating-level {
    flex-shrink: 0;
}

.rating-container {
    form {
        display: inline;
    }
}

.video-rating-bar {
    height: 5px;
    display: flex;
    background: $dark;

    &-like {
        background: $link;
    }
}