$primary: #e6744f;


@import './bulma/bulma.sass';
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

.vspace {
    width: 100%;
    height: 1rem;
}

.mt {
    &-0 {
        margin-top: 0 !important;
    }
}

.mb {
    &-0 {
        margin-bottom: 0 !important;
    }

    &-small {
        margin-bottom: 0.25rem !important;
    }

    &-normal {
        margin-bottom: 0.5rem !important;
    }
}

.pt {
    &-0 {
        padding-top: 0 !important;
    }
}

.pl {
    &-0 {
        padding-left: 0 !important;
    }

    &-small {
        padding-left: 0.75rem !important;
    }
}

.pr {
    &-0 {
        padding-right: 0 !important;
    }

    &-small {
        padding-right: 0.75rem !important;
    }
}


body {
    height: calc(100vh - 2.5rem);
}

.menu-label {
    padding: 0 0.75rem;
}

.video-list-title {
    line-height: 1;
    font-size: 0.9rem;
}

.video-list-thumb {
    position: relative;
}

.video-thumb-duration {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    padding: 0.05rem 0.25rem;
    font-size: $size-7;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    border-radius: $radius-small;
}